* {
	box-sizing: border-box;
}

body {
	margin: 0;
	user-select: none;
	max-width: 1600px;
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
}

.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid red;
}

.todo-container {
	display: flex;
	gap: 1rem;

	.column {
		flex: 1 1 33%;
		border: 1px solid black;

		header {
			display: flex;
			align-items: center;

			h3 {
				margin-right: 1rem;
			}

			.count {
				flex: 1 1 1%;
			}
		}

		ul {
			li {
				border: 1px solid orange;
				padding: 1rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.todo-log {
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightblue;
	height: 100vh;
	visibility: hidden;

	header {
		text-align: right;
	}

	ul {
		li {
			padding: 1rem;
			margin-bottom: 0.5rem;
			border: 1px solid black;
		}
	}
}
