@import './todo.scss';

:root {
	--baemin-light-gray: #e5e5e5;
	--baemin-background-gray: ##f5f5f7;
	--baemin-mid-gray: #bdbdbd;
	--baemin-deep-blue: #0075de;
	--baemin-warning-red: #ff4343;
}

* {
	box-sizing: border-box;
}

body {
	user-select: none;
	max-width: 1600px;
	margin: 0 auto;
	background-color: var(--baemin-light-gray);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		width: 1rem;
		height: 1rem;
		background-image: url('../assets/menu.svg');
		background-repeat: no-repeat;
	}
}
