.ghost {
	transition: transform 0.5s ease-in-out;
}

.todo-card.afterimage {
	opacity: 0.4;
	border: 1px solid var(--baemin-deep-blue);
}

.fade {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.card-pocket {
	transition: all 0.5s ease-in-out;
}
