.todo-container {
	display: flex;
	gap: 1rem;

	.column {
		flex: 1 1 33%;
		border: 1px solid black;

		header {
			display: flex;
			align-items: center;

			h3 {
				margin-right: 1rem;
			}

			.count {
				flex: 1 1 1%;
			}
		}

		ul {
			li {
				border: 1px solid orange;
				padding: 1rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}

.todo-log-container {
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightblue;
	height: 100vh;
	visibility: hidden;

	&.visible {
		visibility: visible;
	}

	header {
		text-align: right;
	}

	ul {
		li {
			padding: 1rem;
			margin-bottom: 0.5rem;
			border: 1px solid black;
		}
	}
}

.todo-add-form {
	padding: 1rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	input {
		padding: 0.5rem 0;
	}

	div {
		display: flex;

		button {
			flex: 1 1 50%;
		}
	}
}

.modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	background-color: white;
	opacity: 1;
	height: 10rem;
}
